<div class="container d-flex justify-content-center mb-3">
    <button [disabled]="cifras.length==6" class="btn btn-primary" (click)="getCifra()">Cifra</button>
</div>

<div class="container grid">
    <div *ngFor="let cifra of cifras" class="card animate__animated animate__flipInY animate__faster">
        <div class="card-body text-center">
            <span class="cifra">{{cifra}}</span>
        </div>
    </div>
</div>

<div *ngIf="cifras.length==6" class="container text-center">
    <h3>El número a conseguir es el:</h3>
    <p class="cifra">{{numeroObjetivoAnimado}}</p>
</div>

<app-timer *ngIf="cifras.length==6 && !terminado" (terminadoEvent)="terminado=true" [tiempo]="tiempo"></app-timer>

<app-quien-gana *ngIf="cifras.length==6 && terminado" [fase]="fase"></app-quien-gana>