<div class="container d-flex justify-content-center">
    <img *ngIf="!introduciendoJugadores" class="w-50 h-50" src="../../../assets/CyF_logo.png"
        alt="Logo Cifras y Letras">
    <img *ngIf="introduciendoJugadores" class="w-25 h-25" src="../../../assets/CyF_logo.png" alt="Logo Cifras y Letras">
    <!-- <div class="contenedor_imagenes">
        <div class="cifras">
            <img src="../../../assets/trazo_azul_cifras.png" >
        </div>
        <div class="letras">
            <img src="../../../assets/trazo_azul_letras.png" >
        </div>
        <div class="y">
            <img src="../../../assets/trazo_rojo.png" >
        </div>
    </div> -->
</div>

<div class="container text-center">
    <h1 class="mt-2">Bienvenidos a Cifras y Letras</h1>
    <p class="mt-2">
        El auténtico juego de palabras y números directo de los 90 a tu smartphone
    </p>
    <button *ngIf="!introduciendoJugadores" class="btn btn-dark" (click)="introducirJugadores(true)">Jugar</button>
    <div *ngIf="introduciendoJugadores">
        <div>
            <div class="mb-3 d-flex justify-content-between">
                <input type="text" placeholder="Nombre del Jugador" class="form-control" id="nombre" [formControl]="nombre">
                <button [disabled]="nombre.pristine" (click)="guardarJugador()" class="btn btn-dark">Guardar</button>
            </div>
        </div>

        <ol *ngIf="jugadores && jugadores.length > 0" class="list-group list-group-numbered text-start">
            <li *ngFor="let jugador of jugadores" class="list-group-item">{{jugador.nombre}}</li>
        </ol>
        <small class="danger" *ngIf="!jugadores || jugadores.length == 0">Introduce al menos dos jugadores para empezar a jugar</small>
    </div>

    <button [disabled]="jugadores.length<2" *ngIf="introduciendoJugadores" class="btn btn-dark mt-4" (click)="jugar()">Jugar</button>
</div>