.contenedor_imagenes {
    width: 100%;
    height: 500px;
    border: 1px solid red;
    position: relative;
}

.contenedor_imagenes > * {
    position: absolute;
}

.cifras{
    top: 0;
    left: 0;
}

.letras{
    top: 140px;
    left: 0;
}

.y{
    right: 0;
}