<div class="container d-flex justify-content-center">
    <img class="w-50 h-50 m-0-auto" src="../../../assets/CyF_logo.png" alt="Logo Cifras y Letras">
</div>
<div class="container center-text">
    <h1>Bienvenidos a Cifras y Letras</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, deleniti sint. Nobis itaque sint ullam repellendus at corrupti molestiae quos magni veniam non. Voluptatibus fugiat, labore id itaque aut expedita!</p>
    <button class="btn btn-primary" (click)="setFase()">Jugar</button>
</div>