<div class="container d-flex justify-content-center mb-3">
    <button [disabled]="letras.length==9" class="btn btn-primary" (click)="consonante()">Consonante</button>
    <button [disabled]="letras.length==9" class="btn btn-primary" (click)="vocal()">Vocal</button>
</div>

<div class="container grid">
    <div *ngFor="let letra of letras" class="card">
        <div class="card-body text-center">
            <span class="letra">{{letra}}</span>
        </div>
    </div>
</div>

<app-timer *ngIf="letras.length==9 && !terminado" (terminadoEvent)="terminar()" [tiempo]="3"></app-timer>

<app-quien-gana *ngIf="letras.length==9 && terminado" [fase]="fase" [masLargas]="masLargas"></app-quien-gana>